@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  background-image: radial-gradient(#4c4f6940 1px, transparent 0);
  background-size: 32px 32px;
  background-position: -12px -12px;
}

.logotype {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}

.content {
  flex: 1;
}
