@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cv {
  background-color: white;
  color: #2f2f2f;
  padding: 16px;
  font-size: 8px;
  font-family: Poppins, sans-serif;
}

.cv ul {
  padding: 0;
}

.cv li {
  list-style: none;
}

.cv .section {
  margin-bottom: 8px;
}

.cv .heading {
  font-family: "Bree Serif", serif;
  font-size: 1.75em;
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.cv .content {
  padding: 4px 0;
}

.cv .info {
  display: flex;
  align-items: center;
}

.cv .details {
  display: flex;
}

.cv .details .info {
  margin-right: 24px;
}

.cv .icon {
  margin-right: 4px;
  color: #0000ff;
  width: 8px;
  height: auto;
}

.cv .name {
  font-family: "Bree Serif", serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.cv .role {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #0000ff;
}

.cv .personal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-weight: bold;
  color: #1e1e1e;
}

.cv .skills ul {
  display: flex;
  flex-wrap: wrap;
}

.cv .skills li {
  width: max-content;

  font-weight: bold;
  padding: 2px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid lightgray;
  color: #1e1e1e;
}

.cv .experience .item {
  padding-bottom: 4px;
  border-bottom: 1px dashed lightgray;
  margin-bottom: 4px;
}

.cv .experience .item:last-child {
  border: none;
}

.cv .position {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #1e1e1e;
}

.cv .organization {
  font-size: 1.1em;
  font-weight: bold;
  color: #0000ff;
}

.cv ul.accomplishments {
  padding-left: 12px;
}

.cv .accomplishments li {
  list-style: disc;
}

.cv .degree {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
  color: #1e1e1e;
}

.cv .institution {
  font-size: 1.1em;
  font-weight: bold;
  color: #0000ff;
}
