nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

nav a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #3f3f3f;
  font-size: 1.5rem;
  font-weight: 500;

  transition: all 150ms ease-in;
  transform-origin: left;
}

nav a:hover {
  color: #000000;
  transform: scale(1.05);
}

.sections {
  flex: 1;
  padding-top: 25%;
  padding-bottom: 16px;
}

.sections h1 {
  font-size: 2rem;
}

.sections ul {
  padding: 0;
}

.sections li {
  list-style: none;
}

.app-actions button {
  width: 100%;
  padding: 16px;
  margin-top: 8px;
}
