nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  background-color: white;
}

nav a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #3f3f3f;
  font-size: 1.5rem;
  font-weight: 500;

  transition: all 150ms ease-in;
  transform-origin: left;
}

nav a:hover {
  color: #000000;
  transform: scale(1.05);
}

.sections {
  flex: 1;
  margin-top: 25%;
  margin-bottom: 16px;
}

.sections h1 {
  font-size: 2rem;
}

.sections ul {
  padding: 0;
}

.sections li {
  list-style: none;
}

.app-actions button {
  width: 100%;
  padding: 16px;
  margin-top: 8px;
}

.cv-reveal {
  background-image: linear-gradient(135deg, #e64553, #8839ef);
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0 -3px 0 inset;
}

.cv-reveal:hover {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 4px 8px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0 -3px 0 inset;
}
