@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  min-height: 100vh;
  font-family: Poppins, sans-serif;

  display: grid;
  grid-template-columns: 1fr 3fr;

  background: white;
  background-image: radial-gradient(#0000004a 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  font-size: 1.25rem;
}

header img {
  width: 48px;
  height: auto;
}

header h1 {
  background: linear-gradient(135deg, #e64553, #8839ef);
  background-clip: text;
  color: transparent;
}

nav {
  flex: 1;
}

main {
  display: flex;
  overflow-y: scroll;
}

button {
  appearance: none;
  border: none;
  user-select: none;
  cursor: pointer;

  border-radius: 4px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  background-color: #fcfcfd;

  color: #36395a;

  font-family: "Montserrat", monospace;
  font-size: 1.25rem;

  transition: all 150ms;
}

button:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active,
button:disabled {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

button:disabled {
  color: #d6d6e7;
  cursor: default;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 32px;
}
